<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

<head>
{% {% include '__styling' %} %}
  <link rel="prefetch" as="document" href="{{ shop.url }}">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9R4C44');</script>
<!-- End Google Tag Manager -->
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
	<!-- Snap Pixel Code -->
    <script type='text/javascript'>
    (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
    {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
    a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
    r.src=n;var u=t.getElementsByTagName(s)[0];
    u.parentNode.insertBefore(r,u);})(window,document,
    'https://sc-static.net/scevent.min.js');
    snaptr('init', 'ca972703-cd77-4a1e-bd8d-abb10e7884c3', {

    'user_email': 'contactus@realgoodfoods.com'
    });
    snaptr('track', 'PAGE_VIEW');
</script>

    <!-- End Snap Pixel Code -->
	<!-- FB Pixel Code -->
  	<meta name="facebook-domain-verification" content="y8zpqimvp1dlcfi1x8zod6xwoqv553" />
  	<!-- End FB Pixel Code -->

  	<!-- Pinterest Pixel Code -->
  	<meta name="p:domain_verify" content="9ca3d8b1bf45103f47982ce5197c9e18"/>
  	<!-- End Pinterest Pixel Code -->

  	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!--   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<!--   	<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /> -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}
  <!-- Title and description -->
  {%- capture seo_title -%}
  {{ page_title }}
  {%- if current_tags -%}
  {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}
  {%- endif -%}
  {%- if current_page != 1 -%}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {%- endif -%}
  {%- unless page_title contains shop.name -%}
  &ndash; {{ shop.name }}
  {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title }}</title>
  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  <!-- Helpers -->
  {%- include 'social-meta-tags' -%}
  <!-- CSS -->
  {%- include 'header-css' -%}
  <!-- Header hook for plugins -->
  {% include 'wlm-head' %}
  <!-- Avada FSB Script -->
 {% include 'avada-fsb-setting' %}
  <!-- /Avada FSB Script -->
  {%- render 'bold-ro-init' -%}
  {%- include 'bold-common' -%}
  {%- include 'oldIE-js' -%}
  <!-- JS -->
  {%- include 'header-js' -%}
{{ content_for_header }}
<!--  apps code  -->

  {%- if template contains 'customers' -%}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {%- endif -%}

  {{ shop.metafields.theme.cdn_css }}
  {%- assign isWsgCustomer = false -%}
{% include 'wsg-header' %}
<script async src='https://affilo.io/libs/affiliate.lib.js'></script>
  <script>
    setInterval(function(){
   $(".owl-next").click();
},5000);
    </script>
<script src='https://affilo.io/libs/affiliate.lib.js'></script>
 {% include 'booster-common' %}
  {% if template contains 'index'%}{% else %}
{% include 'sca.freegifts' %}



  {% include 'judgeme_core' %} {% endif %}
  <!-- CURALATE -->
  <script>
var CRL8_SITENAME = 'realgoodfoodco-pon8kc';!function(){var e=window.crl8=window.crl8||{},n=!1,i=[];e.ready=function(e){n?e():i.push(e)},e.pixel=e.pixel||function(){e.pixel.q.push(arguments)},e.pixel.q=e.pixel.q||[];var t=window.document,o=t.createElement("script"),c=e.debug||-1!==t.location.search.indexOf("crl8-debug=true")?"js":"min.js";o.async=!0,o.src=t.location.protocol+"//edge.curalate.com/sites/"+CRL8_SITENAME+"/site/latest/site."+c,o.onload=function(){n=!0,i.forEach(function(e){e()})};var r=t.getElementsByTagName("script")[0];r.parentNode.insertBefore(o,r.nextSibling)}();
</script>


  {% render 'shogun-head' %}
{% render 'minmaxify-head' %}
<script src='https://appdevelopergroup.co/apps/smartbadge/js/smartbadge.js?shop=realgoodfoods.myshopify.com' type='text/javascript'></script>

  <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
  

<script>
!function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_12t9kh');rdt('track', 'PageVisit');
</script>

{% if collection.handle == 'all' %}
  <style>
    @media screen and (max-width:600px){
      .col-12{
      -ms-flex: 0 0 50%;
flex: 0 0 50%;
      }
    }
  </style>
  {% endif %}
  
  
  <link rel="preload" href="{{ 'Adrianna-Regular.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'Adrianna-Bold.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'Adrianna-Extrabold.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'AdriannaCondensed-DemiBold.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'AdriannaCondensed-Bold.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{ 'AdriannaCondensed-Extrabold.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin>
  
  
  
  	<link rel="preload"" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" as="style" onload="this.rel='stylesheet'">
    <link rel="preload"" type="text/css" href="//kenwheeler.github.io/slick/slick/slick-theme.css" as="style" onload="this.rel='stylesheet'">
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" async defer></script>
  
  

{% include 'globo.formbuilder.scripts' %}
  
  <script>
    
    (function()
     {
      if( window.localStorage )
      {
        if( !localStorage.getItem('firstLoad') )
        {
          localStorage['firstLoad'] = true;
          window.location.reload();
        }  
        else
          localStorage.removeItem('firstLoad');
      }
    })();

  </script>
</head>
<body {% if settings.rtl_enable %} dir="rtl" {% endif %} id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }} {% if settings.header_type == "wearables" %}vertical-header {% endif %} " >
  {%- if settings.enable_preloader -%}
  {%- include 'preloader' -%}
  {%- endif -%}
  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {%- include 'newsletter-popup' -%}
  {%- endif -%}
  <div id="nutri_overlay" class="product-ovelay" onclick="closeProductPopup()"></div>
  <div id="popup-container" class="product-parent">
    <div class="popup_inner">
      <div class="title"><span id="dynamic-title"></span> <span class="close-cross" onclick="closeProductPopup()">x</span></div>
      <img id="nutri_img" src="">
    </div>
  </div>

  <div class="left--side--mob--nav">
    <div class="inner">
    	{% include 'mobile_nav' %}
    </div>
  </div>

  <div class="wrapper{% if settings.box_layout_enable %} wrapper-box{% endif %}">
    {%- if settings.topbar_notification_enable -%}
    {%- if settings.topbar_notification == 'topbar_in_index' and template == 'index' -%}
    {%- include 'top-notification-bar' -%}
    {%- elsif settings.topbar_notification == 'topbar_in_template' -%}
    {%- include 'top-notification-bar' -%}
    {%- endif -%}
    {%- endif -%}
    {%- if template == 'index' and settings.body_top_slider == true -%}
    {%- section 'revslide_for_cosmetic' -%}
    {%- endif -%}
    {%- if settings.error_page_style != "style2" or template != '404' -%}
    {%- include 'header_settings' -%}
    {%- endif -%}
    {%- if template != 'index' and template != '404' -%}
    {%- include 'breadcrumb-banner' -%}
    {%- endif -%}
    <main>
      {{ content_for_layout }}
      {% include 'wlm-body' %}
    </main>
    {%- if settings.error_page_style != "style2" or template != '404' -%}
    {%- include 'footer_settings' -%}
    {%- endif -%}
  </div>
  <!-- Necessary JS -->
  {%- include 'footer-js' -%}
  {%- include 'modal-compare' -%}
  {%- if settings.scroll_to_top -%}
  <!-- scroll to top  -->
  <a href="#" class="scroll-top"></a>
  <!-- end of scroll to top -->
  {%- endif -%}
  {%- include 'bold-loyalties-widget' -%}
{% include 'carro' %}
<!-- spurit_uev-added -->
{% render 'spurit_uev-theme-snippet' %}
<!-- /spurit_uev-added -->
<script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js"></script>
{% include 'swymSnippet' %}
{% include 'booster-message' %}
<!-- Back in Stock helper snippet -->
{% render 'back-in-stock-helper' %}
<!-- End Back in Stock helper snippet -->
{% include 'booster-discounts' %}
<!-- **BEGIN** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
{% render 'hextom_spm_main', product: product, customer: customer %}
<!-- **END** Hextom SPM Integration // Main Include - DO NOT MODIFY -->
<script>window.intercomSettings = {app_id: "uyl8cpph"};</script>
<script>
// We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/uyl8cpph&#39;
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/uyl8cpph';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();

  </script>


<!-- **BEGIN** Hextom FSB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_fsb_main', product: product, customer: customer %}
    <!-- **END** Hextom FSB Integration // Main Include - DO NOT MODIFY -->

  <script>
  $(document).ready(function(){
      var recc=false;
      var _id = window.location.href;
      _id = _id.split('collections/all/')[1];
      console.log(_id);
      var _intv = setInterval(function(){
        if($('#'+_id).length > 0 && recc==false){
          recc=true;       
          setTimeout(function(){
            $('html, body').animate({
              'scrollTop' : $('#'+_id+' .container').position().top - 150
            });
          },200);
          setTimeout(function(){
            $('html, body').animate({
              'scrollTop' : $('#'+_id+' .container').position().top - 150
            });
          },500);
          setTimeout(function(){
            $('html, body').animate({
              'scrollTop' : $('#'+_id+' .container').position().top - 150
            });
          },800);
          setTimeout(function(){
            $('html, body').animate({
              'scrollTop' : $('#'+_id+' .container').position().top - 150
            });
          },1000);
          setTimeout(function(){
            $('html, body').animate({
              'scrollTop' : $('#'+_id+' .container').position().top - 150
            });
          },1200);
          setTimeout(function(){
            $('html, body').animate({
              'scrollTop' : $('#'+_id+' .container').position().top - 150
            });
          },1500);
          setTimeout(function(){
            $('html, body').animate({
              'scrollTop' : $('#'+_id+' .container').position().top - 150
            });
          },1800);
          setTimeout(function(){
            $('html, body').animate({
              'scrollTop' : $('#'+_id+' .container').position().top - 150
            });
          },2000);
        }
        else if(!$('#'+_id).length > 0  && recc==true){
          recc=false;
          console.log("no");
        }
      },100);
    });
    setTimeout(function(){  

      //==================== cart item qty ============================
      $(document).on('click','.inc.qty-btn,.dec.qty-btn',function() {
        var _this = $(this);
        var qty = $(this).parents('.cart_rows').find('[name="updates[]"]').val();
        var varient = $(this).parents('.cart_rows').attr('idss');
        var data = { updates: {} };
        data.updates[varient] = qty;
        if(qty > 0){
          jQuery.ajax({
            type: 'POST',
            url: '/cart/update.js',
            data: data,
            dataType: 'json',
            success: function(e) {  
              console.log(e,'ee')
              $(e.items).each(function(ee){
                if(e.items[ee].id == varient){
                  var totalprice = (e.items[ee].final_line_price/100).toFixed(2)
                  $('.cart_rows[idss="'+e.items[ee].variant_id+'"]').find('.total-price.pro-subtotal .price').text('$'+totalprice)
                  $('.cart_rows[idss="'+e.items[ee].variant_id+'"]').find('.qtyyyyyy').text(e.items[ee].quantity)
                  $('.cart_rows[idss="'+e.items[ee].variant_id+'"]').find('[name="updates[]"]').val(e.items[ee].quantity)
                }
              })
              var cart_subtotal = (e.items_subtotal_price/100).toFixed(2)
              $('.subtotalss').text('$'+cart_subtotal)
              $('.count.bigcounter').text(e.item_count)
              if(e.item_count == 0){
                $('#shopify-section-cart-template').html('<div class="shopping-cart-area mt-130 mb-130"> <div class="container"><div class="row"> <div class="col-lg-12 col-12"> <div class="empty-cart-page text-center"> <h4 class="empty_cart_title">Shopping Cart</h4> <div class="empty__cart_img"> <img src="  https://cdn.shopify.com/s/files/1/0132/3116/1408/files/cart.png?13612 " alt=""> </div> <h5 class="mb-30">Your cart is currently empty!</h5> <p><a class="lezada-button lezada-button--small" href="/collections/all"><i class="fa fa-angle-left" aria-hidden="true"></i> Continue browsing</a></p> </div> </div> </div></div> </div>')
//                 $('.offcanvas-cart-content-container').html(' <h3 class="cart-title">Cart</h3>  <div class="single-cart-product empty cartemptyclass" style="display:block;"> <h3>Your cart is currently empty.</h3>')
             $('.cartitemclass').hide()  //hide cart drawer content
              $('.cartemptyclass').show() //show empty content
              }else{
                    $('.cartitemclass').show()  //show cart drawer content
             $('.cartemptyclass').hide()    //hide empty content
              }
            }
          });
        }else{

          $('.cart_rows[idss="'+varient+'"]').find('.product-remove').trigger('click')
        }
      }); 



      $(document).on('change','[name="updates[]"]',function() {  
        var _this = $(this);
        var qty = $(this).parents('.cart_rows').find('[name="updates[]"]').val();
        var varient = $(this).parents('.cart_rows').attr('idss');
        var data = { updates: {} };
        data.updates[varient] = qty;
        if(qty > 0){

          jQuery.ajax({
            type: 'POST',
            url: '/cart/update.js',
            data: data,
            dataType: 'json',
            success: function(e) {  
              console.log(e,'ee')
              $(e.items).each(function(ee){
                if(e.items[ee].id == varient){
                  var totalprice = (e.items[ee].final_line_price/100).toFixed(2);
                  $('.cart_rows[idss="'+e.items[ee].variant_id+'"]').find('.total-price.pro-subtotal .price').text('$'+totalprice)
                  $('.cart_rows[idss="'+e.items[ee].variant_id+'"]').find('.qtyyyyyy').text(e.items[ee].quantity)
                  $('.cart_rows[idss="'+e.items[ee].variant_id+'"]').find('[name="updates[]"]').val(e.items[ee].quantity)
                }
              })
              //         console.log(e.items_subtotal_price/100,'eeeeee')qtyyyyyy
              var cart_subtotal = (e.items_subtotal_price/100).toFixed(2)
              $('.subtotalss').text('$'+cart_subtotal)
              $('.count.bigcounter').text(e.item_count)
              if(e.item_count == 0){
                $('#shopify-section-cart-template').html('<div class="shopping-cart-area mt-130 mb-130"> <div class="container"><div class="row"> <div class="col-lg-12 col-12"> <div class="empty-cart-page text-center"> <h4 class="empty_cart_title">Shopping Cart</h4> <div class="empty__cart_img"> <img src="  https://cdn.shopify.com/s/files/1/0132/3116/1408/files/cart.png?13612 " alt=""> </div> <h5 class="mb-30">Your cart is currently empty!</h5> <p><a class="lezada-button lezada-button--small" href="/collections/all"><i class="fa fa-angle-left" aria-hidden="true"></i> Continue browsing</a></p> </div> </div> </div></div> </div>')
//                 $('.offcanvas-cart-content-container').html(' <h3 class="cart-title">Cart</h3>  <div class="single-cart-product empty cartemptyclass" style="display:block;"> <h3>Your cart is currently empty.</h3>')
          $('.cartitemclass').hide()  //hide cart drawer content
              $('.cartemptyclass').show() //show empty content
              }else{
                          $('.cartitemclass').show()  //show cart drawer content
             $('.cartemptyclass').hide()    //hide empty content
              }
            }
          });
        }else{

          $('.cart_rows[idss="'+varient+'"]').find('.product-remove').trigger('click')
        }
      }); 



      //==================== cart item remove ============================
      $(document).on('click','.product-remove',function() {
        var _this = $(this);
        var qty = 0;
        var varient = $(this).parents('.cart_rows').attr('idss');

        var data = { updates: {} };
        data.updates[varient] = qty;
        jQuery.ajax({
          type: 'POST',
          url: '/cart/update.js',
          data: data,
          dataType: 'json',
          success: function(e) { 
            console.log(e,'e')
            $(e.items).each(function(ee){
              $('.cart_rows[idss="'+varient+'"]').remove();
            })
            var cart_subtotal = (e.items_subtotal_price/100).toFixed(2)
            $('.subtotalss').text('$'+cart_subtotal)
            $('.count.bigcounter').text(e.item_count)

            if(e.item_count == 0){
              $('#shopify-section-cart-template').html('<div class="shopping-cart-area mt-130 mb-130"> <div class="container"><div class="row"> <div class="col-lg-12 col-12"> <div class="empty-cart-page text-center"> <h4 class="empty_cart_title">Shopping Cart</h4> <div class="empty__cart_img"> <img src="  https://cdn.shopify.com/s/files/1/0132/3116/1408/files/cart.png?13612 " alt=""> </div> <h5 class="mb-30">Your cart is currently empty!</h5> <p><a class="lezada-button lezada-button--small" href="/collections/all"><i class="fa fa-angle-left" aria-hidden="true"></i> Continue browsing</a></p> </div> </div> </div></div> </div>')
//               $('.offcanvas-cart-content-container').html(' <h3 class="cart-title">Cart</h3>  <div class="single-cart-product empty cartemptyclass" style="display:block;"> <h3>Your cart is currently empty.</h3>')
            $('.cartitemclass').hide()  //hide cart drawer content
              $('.cartemptyclass').show() //show empty content
            
            }else{
            $('.cartitemclass').show()  //show cart drawer content
             $('.cartemptyclass').hide()    //hide empty content
            }
          }
        });
      }); 

    },1500)
  </script>
 
</body>
</html>
<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.1) -->
<script type="text/javascript">
  // Liquid variables:
  var afterpay_product = {{ product | json }};
  var afterpay_product_variant = {{ product.selected_or_first_available_variant | json }};
  var afterpay_cart_total_price = {{ cart.total_price | json }};
</script>
<!-- End Shopify-Afterpay JavaScript Snippet (v1.0.1) -->
